#pop-up {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 1);
  
  }


  #popup-inner {
    /* background-color: white; */
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    
  
  }

  #popup-inners {
    /* background-color: white; */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    
  
  }